@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 60s linear infinite;
  }
  
  .animate-scan-line {
    animation: scan 3s ease-in-out infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scan {
  0% {
    top: 0%;
    opacity: 0.5;
  }
  50% {
    top: 100%;
    opacity: 0.8;
  }
  100% {
    top: 0%;
    opacity: 0.5;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white;
}

input, select, textarea {
  @apply bg-transparent;
}